/* line 8, style.scss */
body {
  background: #fff;
  font-family: "Roboto", arial, sans-serif;
  font-weight: 200;
  font-size: 16px;
  line-height: 1.8;
  color: #6c757d;
  position: relative; }

/* line 18, style.scss */
::-moz-selection {
  color: #fff;
  background: #ff0000; }

/* line 22, style.scss */
::-moz-selection {
  color: #fff;
  background: #ff0000; }
::selection {
  color: #fff;
  background: #ff0000; }

/* line 26, style.scss */
a {
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
  text-decoration: none; }
  /* line 29, style.scss */
  a:hover {
    text-decoration: none; }

/* line 33, style.scss */
h1, h2, h3, h4, h5 {
  color: #000;
  font-family: "Playfair Display", times, serif; }

/* line 37, style.scss */
.font-family-serif {
  font-family: "Playfair Display", times, serif; }

/* line 40, style.scss */
.font-family-sans-serif {
  font-family: "Roboto", arial, sans-serif; }

/* line 43, style.scss */
.bg-light {
  background: #f2f4fb !important; }

/* line 46, style.scss */
.container-fluid {
  max-width: 1600px; }

/* line 49, style.scss */
.btn {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 50px; }
  /* line 55, style.scss */
  .btn.btn-outline-white {
    border: 2px solid #fff; }
    /* line 57, style.scss */
    .btn.btn-outline-white:hover {
      border: 2px solid transparent;
      background: #000;
      color: #fff; }
  /* line 63, style.scss */
  .btn.btn-outline-white-primary {
    border: 2px solid #fff; }
    /* line 65, style.scss */
    .btn.btn-outline-white-primary:hover {
      border: 2px solid transparent;
      background: #ff0000;
      color: #fff; }
  /* line 71, style.scss */
  .btn.uppercase {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: .2em; }

/* line 82, style.scss */
.btn, .form-control {
  outline: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important; }
  /* line 85, style.scss */
  .btn:focus, .btn:active, .form-control:focus, .form-control:active {
    outline: none; }

/* line 89, style.scss */
.form-control {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  height: 50px;
  border-width: 2px; }
  /* line 93, style.scss */
  .form-control:active, .form-control:focus {
    border-color: #ff0000; }

/* line 97, style.scss */
textarea.form-control {
  height: inherit; }

/* line 102, style.scss */
.full-height {
  height: 100vh;
  min-height: 700px; }

/* line 106, style.scss */
.site-hero {
  background-size: cover;
  height: 100vh;
  min-height: 700px;
  width: 100%;
  position: relative; }
  /* line 112, style.scss */
  .site-hero .heading {
    font-family: "Playfair Display", times, serif;
    font-weight: bold; }
  /* line 116, style.scss */
  .site-hero .scroll-down {
    position: absolute;
    bottom: 20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    color: #fff; }
  /* line 124, style.scss */
  .site-hero.overlay:before {
    background: rgba(0, 0, 0, 0.45);
    content: "";
    position: absolute;
    height: 100vh;
    min-height: 700px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }
  /* line 136, style.scss */
  .site-hero.inner-page {
    height: 50vh;
    min-height: 700px; }
    /* line 140, style.scss */
    .site-hero.inner-page.overlay:before {
      height: 50vh;
      min-height: 700px; }

/* line 148, style.scss */
.site-hero-inner {
  height: 100vh;
  min-height: 700px; }
  /* line 152, style.scss */
  .site-hero-inner .heading {
    font-size: 80px;
    font-family: "Playfair Display", times, serif;
    color: #fff;
    line-height: 1;
    font-weight: bold; }
    @media (max-width: 991.98px) {
      /* line 152, style.scss */
      .site-hero-inner .heading {
        font-size: 40px; } }
  /* line 162, style.scss */
  .site-hero-inner .sub-heading {
    font-size: 30px;
    font-weight: 200;
    color: #fff;
    line-height: 1.5; }
    @media (max-width: 991.98px) {
      /* line 162, style.scss */
      .site-hero-inner .sub-heading {
        font-size: 18px; } }

/* line 173, style.scss */
.inner-page .site-hero-inner {
  height: 50vh;
  min-height: 700px; }

/* line 179, style.scss */
.page-inside .site-hero-inner, .page-inside {
  height: 70vh;
  min-height: 500px; }
/* line 184, style.scss */
.page-inside.overlay:before {
  height: 70vh;
  min-height: 500px; }

/* line 193, style.scss */
.menu-open .site-menu-toggle span {
  background: #000; }

/* line 198, style.scss */
.site-menu-toggle {
  display: none;
  top: 0;
  float: right;
  width: 40px;
  height: 45px;
  position: relative;
  margin: 0px auto;
  z-index: 200;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  margin-right: 40px; }
  /* line 217, style.scss */
  .site-menu-toggle span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #fff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out; }
  /* line 237, style.scss */
  .site-menu-toggle span {
    background: #000; }
  @media (max-width: 991.98px) {
    /* line 198, style.scss */
    .site-menu-toggle {
      margin-right: 15px;
      display: block;
      top: 10px;
      position: relative; }
      /* line 246, style.scss */
      .site-menu-toggle span {
        background: #000; } }
  /* line 251, style.scss */
  .site-menu-toggle span:nth-child(1) {
    top: 0px; }
  /* line 255, style.scss */
  .site-menu-toggle span:nth-child(2) {
    top: 10px; }
  /* line 260, style.scss */
  .site-menu-toggle span:nth-child(3) {
    top: 20px; }
  /* line 265, style.scss */
  .site-menu-toggle.open span:nth-child(1) {
    top: 13px;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg); }
  /* line 274, style.scss */
  .site-menu-toggle.open span:nth-child(2) {
    opacity: 0;
    left: -60px; }
  /* line 279, style.scss */
  .site-menu-toggle.open span:nth-child(3) {
    top: 13px;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg); }

/* line 291, style.scss */
.section {
  padding: 7em 0; }
  @media (max-width: 991.98px) {
    /* line 291, style.scss */
    .section {
      padding: 3em 0; } }

@media (max-width: 991.98px) {
  /* line 297, style.scss */
  .lead {
    font-size: 16px; } }

/* line 303, style.scss */
.visit-section .heading {
  font-size: 15px;
  text-transform: uppercase;
  font-family: "Roboto", arial, sans-serif;
  color: #b3b3b3;
  letter-spacing: .2em;
  margin-bottom: 30px; }
/* line 312, style.scss */
.visit-section .visit a {
  color: #000; }
  /* line 314, style.scss */
  .visit-section .visit a:hover {
    color: #ff0000; }
/* line 318, style.scss */
.visit-section .visit img {
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 15px; }
/* line 322, style.scss */
.visit-section .visit h3 {
  font-size: 20px;
  margin-bottom: 0; }
/* line 328, style.scss */
.visit-section .reviews-star span {
  font-size: 18px;
  color: #ff0000; }
/* line 333, style.scss */
.visit-section .reviews-count {
  color: #adb5bd;
  font-style: italic; }

/* line 339, style.scss */
.heading-serif, .heading, .testimonial-section .heading, .slider-section .heading, .blog-post-entry .heading {
  font-size: 60px;
  font-family: "Playfair Display", times, serif;
  font-weight: 700; }
  @media (max-width: 991.98px) {
    /* line 339, style.scss */
    .heading-serif, .heading, .testimonial-section .heading, .slider-section .heading, .blog-post-entry .heading {
      font-size: 40px; } }

/* line 348, style.scss */
.bg-pattern {
  background: #e9ecef url("../img/round.png"); }

/* line 359, style.scss */
.slider-section {
  position: relative; }

/* line 366, style.scss */
.blog-post-entry {
  position: relative; }

/* line 373, style.scss */
.half .image, .half .text {
  width: 50%; }
  @media (max-width: 991.98px) {
    /* line 373, style.scss */
    .half .image, .half .text {
      width: 100%; } }
/* line 379, style.scss */
.half .image {
  background-size: cover;
  background-position: center center; }
  @media (max-width: 991.98px) {
    /* line 379, style.scss */
    .half .image {
      height: 300px; } }
/* line 386, style.scss */
.half .text {
  padding: 100px 7%; }
  @media (max-width: 991.98px) {
    /* line 386, style.scss */
    .half .text {
      padding-top: 50px;
      padding-bottom: 50px; } }
  /* line 392, style.scss */
  .half .text h2 {
    font-size: 70px; }
    @media (max-width: 991.98px) {
      /* line 392, style.scss */
      .half .text h2 {
        font-size: 40px; } }

/* line 402, style.scss */
.testimonial blockquote {
  padding: 0; }
/* line 406, style.scss */
.testimonial .author-image img {
  width: 70px; }

/* line 413, style.scss */
.post .media-custom {
  background: #fff;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
  -webkit-box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.1); }
  /* line 417, style.scss */
  .post .media-custom:hover, .post .media-custom:focus {
    -webkit-box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.1);
            box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.1); }
  /* line 420, style.scss */
  .post .media-custom a {
    color: #000; }
    /* line 422, style.scss */
    .post .media-custom a:hover {
      color: #ff0000; }
  /* line 426, style.scss */
  .post .media-custom .media-body {
    padding: 10px 30px; }
  /* line 429, style.scss */
  .post .media-custom h2 {
    font-size: 26px; }

/* line 436, style.scss */
.media-custom .meta-post {
  color: #adb5bd;
  text-transform: uppercase;
  letter-spacing: .2em;
  font-size: 14px; }

/* line 448, style.scss */
.owl-carousel .owl-item {
  opacity: .4; }
  /* line 450, style.scss */
  .owl-carousel .owl-item.active {
    opacity: 1; }
/* line 455, style.scss */
.owl-carousel .owl-nav {
  position: absolute;
  top: 50%;
  width: 100%; }
  /* line 459, style.scss */
  .owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next {
    position: absolute;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    margin-top: -10px; }
    /* line 464, style.scss */
    .owl-carousel .owl-nav .owl-prev:hover, .owl-carousel .owl-nav .owl-prev:focus, .owl-carousel .owl-nav .owl-prev:active,
    .owl-carousel .owl-nav .owl-next:hover,
    .owl-carousel .owl-nav .owl-next:focus,
    .owl-carousel .owl-nav .owl-next:active {
      outline: none; }
    /* line 468, style.scss */
    .owl-carousel .owl-nav .owl-prev span:before,
    .owl-carousel .owl-nav .owl-next span:before {
      font-size: 40px; }
  /* line 473, style.scss */
  .owl-carousel .owl-nav .owl-prev {
    left: 30px !important; }
  /* line 476, style.scss */
  .owl-carousel .owl-nav .owl-next {
    right: 30px !important; }
/* line 480, style.scss */
.owl-carousel .owl-dots {
  text-align: center; }
  /* line 482, style.scss */
  .owl-carousel .owl-dots .owl-dot {
    border-width: 2px !important;
    width: 10px;
    height: 10px;
    margin: 5px;
    border-radius: 50%; }
/* line 493, style.scss */
.owl-carousel.home-slider {
  z-index: 1;
  position: relative; }
  /* line 496, style.scss */
  .owl-carousel.home-slider .owl-nav {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .3s all ease;
    transition: .3s all ease; }
    /* line 500, style.scss */
    .owl-carousel.home-slider .owl-nav button {
      color: #fff; }
  /* line 505, style.scss */
  .owl-carousel.home-slider:focus .owl-nav, .owl-carousel.home-slider:hover .owl-nav {
    opacity: 1;
    visibility: visible; }
  /* line 511, style.scss */
  .owl-carousel.home-slider .slider-item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: calc(100vh - 117px);
    min-height: 700px;
    position: relative; }
    /* line 519, style.scss */
    .owl-carousel.home-slider .slider-item .slider-text {
      color: #fff;
      height: calc(100vh - 117px);
      min-height: 700px; }
      /* line 523, style.scss */
      .owl-carousel.home-slider .slider-item .slider-text h1 {
        font-size: 40px;
        color: #fff;
        line-height: 1.2;
        font-weight: 800 !important;
        text-transform: uppercase; }
        @media (max-width: 991.98px) {
          /* line 523, style.scss */
          .owl-carousel.home-slider .slider-item .slider-text h1 {
            font-size: 40px; } }
      /* line 533, style.scss */
      .owl-carousel.home-slider .slider-item .slider-text p {
        font-size: 20px;
        line-height: 1.5;
        font-weight: 300;
        color: white; }
    /* line 541, style.scss */
    .owl-carousel.home-slider .slider-item.dark .child-name {
      color: #000; }
    /* line 544, style.scss */
    .owl-carousel.home-slider .slider-item.dark h1 {
      color: #000; }
    /* line 547, style.scss */
    .owl-carousel.home-slider .slider-item.dark p {
      color: #000; }
  /* line 553, style.scss */
  .owl-carousel.home-slider .owl-dots {
    position: absolute;
    bottom: 100px;
    width: 100%; }
    /* line 558, style.scss */
    .owl-carousel.home-slider .owl-dots .owl-dot {
      width: 10px;
      height: 10px;
      margin: 5px;
      border-radius: 50%;
      border: 2px solid transparent;
      outline: none !important;
      position: relative;
      -webkit-transition: .3s all ease;
      transition: .3s all ease;
      background: #fff; }
      /* line 568, style.scss */
      .owl-carousel.home-slider .owl-dots .owl-dot.active {
        border: 2px solid white;
        background: none; }
/* line 582, style.scss */
.owl-carousel.major-caousel .owl-stage-outer {
  padding-top: 0 !important;
  padding-bottom: 0 !important; }
/* line 587, style.scss */
.owl-carousel.major-caousel .owl-stage-outer {
  padding-top: 30px;
  padding-bottom: 30px; }
/* line 591, style.scss */
.owl-carousel.major-caousel .slider-item {
  height: inherit;
  min-height: inherit; }
  /* line 595, style.scss */
  .owl-carousel.major-caousel .slider-item img {
    margin-bottom: 0; }
/* line 600, style.scss */
.owl-carousel.major-caousel .owl-nav {
  opacity: 1;
  visibility: visible; }
  /* line 603, style.scss */
  .owl-carousel.major-caousel .owl-nav .owl-prev, .owl-carousel.major-caousel .owl-nav .owl-next {
    -webkit-transition: .3s all ease;
    transition: .3s all ease;
    color: #495057; }
    /* line 606, style.scss */
    .owl-carousel.major-caousel .owl-nav .owl-prev:hover, .owl-carousel.major-caousel .owl-nav .owl-prev:focus, .owl-carousel.major-caousel .owl-nav .owl-next:hover, .owl-carousel.major-caousel .owl-nav .owl-next:focus {
      color: #6c757d;
      outline: none; }
    /* line 610, style.scss */
    .owl-carousel.major-caousel .owl-nav .owl-prev.disabled, .owl-carousel.major-caousel .owl-nav .owl-next.disabled {
      color: #dee2e6; }
  /* line 614, style.scss */
  .owl-carousel.major-caousel .owl-nav .owl-prev {
    left: -60px !important; }
  /* line 617, style.scss */
  .owl-carousel.major-caousel .owl-nav .owl-next {
    right: -60px !important; }
/* line 621, style.scss */
.owl-carousel.major-caousel .owl-dots {
  bottom: 50px !important; }
  @media (max-width: 991.98px) {
    /* line 621, style.scss */
    .owl-carousel.major-caousel .owl-dots {
      bottom: 10px !important; } }
/* line 629, style.scss */
.owl-carousel.js-carousel-2 .slider-item {
  padding: 0 20px;
  text-align: center; }
/* line 633, style.scss */
.owl-carousel.js-carousel-2 .owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
  z-index: 299; }
  /* line 639, style.scss */
  .owl-carousel.js-carousel-2 .owl-nav .owl-prev,
  .owl-carousel.js-carousel-2 .owl-nav .owl-next {
    position: absolute;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    margin-top: -10px; }
    /* line 644, style.scss */
    .owl-carousel.js-carousel-2 .owl-nav .owl-prev:hover, .owl-carousel.js-carousel-2 .owl-nav .owl-prev:focus, .owl-carousel.js-carousel-2 .owl-nav .owl-prev:active,
    .owl-carousel.js-carousel-2 .owl-nav .owl-next:hover,
    .owl-carousel.js-carousel-2 .owl-nav .owl-next:focus,
    .owl-carousel.js-carousel-2 .owl-nav .owl-next:active {
      outline: none; }
    /* line 648, style.scss */
    .owl-carousel.js-carousel-2 .owl-nav .owl-prev span:before,
    .owl-carousel.js-carousel-2 .owl-nav .owl-next span:before {
      font-size: 40px; }
  /* line 653, style.scss */
  .owl-carousel.js-carousel-2 .owl-nav .owl-prev {
    left: -30px !important; }
  /* line 656, style.scss */
  .owl-carousel.js-carousel-2 .owl-nav .owl-next {
    right: -30px !important; }
/* line 662, style.scss */
.owl-carousel.js-carousel-2 .owl-dots .owl-dot {
  display: inline-block;
  border: none; }
  /* line 666, style.scss */
  .owl-carousel.js-carousel-2 .owl-dots .owl-dot > span {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #e9ecef;
    display: inline-block; }
  /* line 674, style.scss */
  .owl-carousel.js-carousel-2 .owl-dots .owl-dot.active > span {
    background: #ff0000; }
  /* line 678, style.scss */
  .owl-carousel.js-carousel-2 .owl-dots .owl-dot:active, .owl-carousel.js-carousel-2 .owl-dots .owl-dot:focus, .owl-carousel.js-carousel-2 .owl-dots .owl-dot:hover {
    outline: none; }

/* line 685, style.scss */
.owl-custom-nav {
  float: right;
  position: relative;
  z-index: 10; }
  /* line 689, style.scss */
  .owl-custom-nav .owl-custom-prev,
  .owl-custom-nav .owl-custom-next {
    padding: 10px;
    font-size: 30px;
    background: #ccc;
    line-height: 0;
    width: 60px;
    text-align: center;
    display: inline-block; }

/* line 701, style.scss */
.footer-section {
  background: #1a1a1a;
  color: #fff; }
  /* line 704, style.scss */
  .footer-section a {
    color: rgba(255, 255, 255, 0.7); }
    /* line 706, style.scss */
    .footer-section a:hover {
      color: #fff; }
  /* line 710, style.scss */
  .footer-section p {
    color: rgba(255, 255, 255, 0.5); }
  /* line 713, style.scss */
  .footer-section .bordertop {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 20px; }
  /* line 718, style.scss */
  .footer-section .contact-info span.d-block {
    font-style: italic;
    color: #fff; }
  /* line 724, style.scss */
  .footer-section .social a {
    font-size: 18px;
    padding: 10px; }
  /* line 730, style.scss */
  .footer-section .link li {
    margin-bottom: 10px; }

/* line 737, style.scss */
.footer-newsletter .form-group {
  position: relative; }
/* line 740, style.scss */
.footer-newsletter .form-control {
  background: none;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0;
  color: #fff; }
  /* line 746, style.scss */
  .footer-newsletter .form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(255, 255, 255, 0.2);
    font-style: italic; }
  /* line 750, style.scss */
  .footer-newsletter .form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(255, 255, 255, 0.2);
    font-style: italic; }
  /* line 754, style.scss */
  .footer-newsletter .form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(255, 255, 255, 0.2);
    font-style: italic; }
  /* line 758, style.scss */
  .footer-newsletter .form-control:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(255, 255, 255, 0.2);
    font-style: italic; }
  /* line 763, style.scss */
  .footer-newsletter .form-control:active, .footer-newsletter .form-control:focus {
    border-bottom: 1px solid white; }
/* line 768, style.scss */
.footer-newsletter button[type="submit"] {
  background: none;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0; }

/* line 778, style.scss */
.side-box, .sidebar-search {
  padding: 30px;
  background: #fff;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 30px; }
  /* line 783, style.scss */
  .side-box .heading, .sidebar-search .heading {
    font-size: 18px;
    margin-bottom: 30px;
    font-family: "Roboto", arial, sans-serif; }

/* line 791, style.scss */
.post-list li {
  margin-bottom: 20px; }
  /* line 794, style.scss */
  .post-list li a > div {
    margin-top: -10px; }
  /* line 798, style.scss */
  .post-list li a .meta {
    font-size: 13px;
    color: #adb5bd; }
  /* line 802, style.scss */
  .post-list li a .image {
    width: 150px; }
  /* line 805, style.scss */
  .post-list li a h3 {
    font-size: 16px; }
  /* line 809, style.scss */
  .post-list li:last-child {
    margin-bottom: 0; }

/* line 816, style.scss */
.sidebar-search .form-group {
  position: relative;
  margin-bottom: 0; }
/* line 820, style.scss */
.sidebar-search .icon-search {
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }
/* line 827, style.scss */
.sidebar-search .search-input {
  border-color: #dee2e6;
  padding-left: 40px;
  border-radius: 0px; }
  /* line 831, style.scss */
  .sidebar-search .search-input:focus, .sidebar-search .search-input:active {
    border-color: #343a40; }

/* line 839, style.scss */
.contact-section .contact-info p {
  font-family: "Playfair Display", times, serif;
  font-size: 30px;
  margin-bottom: 30px; }
  /* line 844, style.scss */
  .contact-section .contact-info p .d-block {
    font-size: 14px;
    letter-spacing: .2em;
    font-weight: bold;
    font-family: "Roboto", arial, sans-serif;
    text-transform: uppercase; }

/* line 857, style.scss */
.post-categories li {
  display: block; }
  /* line 859, style.scss */
  .post-categories li a {
    display: block;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e9ecef; }
    /* line 865, style.scss */
    .post-categories li a .count {
      position: absolute;
      top: 0;
      right: 0;
      color: #6c757d; }

/* line 877, style.scss */
.custom-pagination .page-item .page-link {
  text-align: center;
  border: none;
  background: none;
  border-radius: 50% !important;
  width: 50px;
  height: 50px;
  padding: 0;
  line-height: 50px;
  margin-right: 10px;
  margin-bottom: 10px; }
/* line 890, style.scss */
.custom-pagination .page-item.active .page-link {
  background: #ff0000;
  -webkit-box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.2); }

/* line 900, style.scss */
.line-height-1-2 {
  line-height: 1.2; }

/* Mouse Animation */
/* line 905, style.scss */
.mouse {
  width: 100px;
  display: inline-block;
  position: absolute;
  left: 50%;
  bottom: 140px;
  z-index: 1;
  -webkit-transform: translateX(-25%);
          transform: translateX(-25%); }

/* line 914, style.scss */
.mouse-icon {
  width: 25px;
  height: 45px;
  border: 2px solid white;
  border-radius: 15px;
  cursor: pointer;
  position: relative;
  text-align: center; }

/* line 922, style.scss */
.mouse-wheel {
  height: 6px;
  margin: 2px auto 0;
  display: block;
  width: 3px;
  background-color: white;
  border-radius: 50%;
  -webkit-animation: 1.6s ease infinite wheel-up-down;
  animation: 1.6s ease infinite wheel-up-down; }

@-webkit-keyframes wheel-up-down {
  0% {
    margin-top: 2px;
    opacity: 0; }
  30% {
    opacity: 1; }
  100% {
    margin-top: 20px;
    opacity: 0; } }
@keyframes wheel-up-down {
  0% {
    margin-top: 2px;
    opacity: 0; }
  30% {
    opacity: 1; }
  100% {
    margin-top: 20px;
    opacity: 0; } }
/* line 973, style.scss */
.site-block-half .image, .site-block-half .text {
  width: 100%; }
  @media (min-width: 992px) {
    /* line 973, style.scss */
    .site-block-half .image, .site-block-half .text {
      width: 50%; } }
@media (max-width: 991.98px) {
  /* line 979, style.scss */
  .site-block-half .image {
    margin-bottom: 50px;
    height: 300px; } }
/* line 985, style.scss */
.site-block-half .text {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px; }
  @media (min-width: 992px) {
    /* line 985, style.scss */
    .site-block-half .text {
      padding: 4rem; } }
/* line 996, style.scss */
.site-block-half .bg-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
  @media (max-width: 991.98px) {
    /* line 996, style.scss */
    .site-block-half .bg-image {
      height: 400px; } }
/* line 1006, style.scss */
.site-block-half.site-block-video .image {
  position: relative; }
  /* line 1008, style.scss */
  .site-block-half.site-block-video .image .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 20px;
    width: 70px;
    height: 70px;
    background: #fff;
    display: block;
    border-radius: 50%;
    opacity: 1;
    color: #ff0000 !important; }
    /* line 1021, style.scss */
    .site-block-half.site-block-video .image .play-button:hover {
      opacity: 1; }
    /* line 1024, style.scss */
    .site-block-half.site-block-video .image .play-button > span {
      position: absolute;
      left: 55%;
      top: 50%;
      -webkit-transform: translate(-60%, -50%);
              transform: translate(-60%, -50%); }

/* line 1036, style.scss */
.field-icon-wrap {
  position: relative; }
  /* line 1038, style.scss */
  .field-icon-wrap .form-control {
    position: relative;
    padding-right: 40px;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    color: #a6a6a6; }
  /* line 1044, style.scss */
  .field-icon-wrap .icon {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 15px;
    z-index: 2; }
  /* line 1052, style.scss */
  .field-icon-wrap select {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    width: 100%; }

/* line 1058, style.scss */
.block-32 {
  background: #fff;
  padding: 30px;
  -webkit-box-shadow: 0 2px 80px -10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 80px -10px rgba(0, 0, 0, 0.2);
  width: 100%; }
  /* line 1063, style.scss */
  .block-32 .field-icon-wrap {
    position: relative; }
    /* line 1065, style.scss */
    .block-32 .field-icon-wrap .form-control {
      position: relative;
      padding-right: 40px;
      -webkit-box-shadow: none !important;
              box-shadow: none !important;
      color: #a6a6a6; }
    /* line 1071, style.scss */
    .block-32 .field-icon-wrap .icon {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      right: 15px;
      z-index: 2; }
    /* line 1079, style.scss */
    .block-32 .field-icon-wrap select {
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none;
      width: 100%; }

/* line 1086, style.scss */
.block-2 {
  margin-bottom: 50px;
  -webkit-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  -ms-transform: perspective(1000px);
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d; }
  /* line 1100, style.scss */
  .block-2:hover .back, .block-2.hover .back {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); }
  /* line 1107, style.scss */
  .block-2:hover .front, .block-2.hover .front {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg); }
  /* line 1115, style.scss */
  .block-2, .block-2 .front, .block-2 .back {
    width: 100%;
    height: 427px; }
  /* line 1119, style.scss */
  .block-2 .flipper {
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 0.6s;
    -moz-transition: 0.6s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative; }
  /* line 1135, style.scss */
  .block-2 .front, .block-2 .back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 4px;
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotateY(0deg);
    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;
    -moz-transform: rotateY(0deg);
    -o-transition: 0.6s;
    -o-transform-style: preserve-3d;
    -o-transform: rotateY(0deg);
    -ms-transition: 0.6s;
    -ms-transform-style: preserve-3d;
    -ms-transform: rotateY(0deg);
    transition: 0.6s;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    position: absolute;
    top: 0;
    left: 0; }
  /* line 1169, style.scss */
  .block-2 .front {
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    background: lightgreen;
    z-index: 2;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; }
    /* line 1178, style.scss */
    .block-2 .front:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(18%, transparent), color-stop(99%, rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8)));
      background: linear-gradient(to bottom, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 ); }
    /* line 1190, style.scss */
    .block-2 .front .box {
      position: absolute;
      bottom: 0;
      left: 20px;
      right: 20px;
      bottom: 20px; }
      /* line 1196, style.scss */
      .block-2 .front .box h2, .block-2 .front .box p {
        color: #fff;
        margin: 0;
        padding: 0;
        line-height: 1.5; }
      /* line 1202, style.scss */
      .block-2 .front .box h2 {
        font-size: 20px; }
      /* line 1205, style.scss */
      .block-2 .front .box p {
        font-size: 12px; }
  /* line 1211, style.scss */
  .block-2 .back {
    background: #fff;
    -webkit-box-shadow: 0 0 70px -10px rgba(0, 0, 0, 0.4);
            box-shadow: 0 0 70px -10px rgba(0, 0, 0, 0.4);
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg); }
  /* line 1224, style.scss */
  .block-2 .back p {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    text-align: center;
    padding: 0 20px;
    font-size: 18px; }
  /* line 1233, style.scss */
  .block-2 .author {
    bottom: 0;
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px; }
    /* line 1239, style.scss */
    .block-2 .author .image {
      width: 40px; }
      /* line 1241, style.scss */
      .block-2 .author .image img {
        border-radius: 50%;
        max-width: 100%; }
    /* line 1246, style.scss */
    .block-2 .author .position {
      display: block;
      font-size: 12px; }
  @media (max-width: 991.98px) {
    /* line 1254, style.scss */
    .block-2 .back {
      -webkit-transform: rotateY(0deg);
      transform: rotateY(0deg); }
    /* line 1261, style.scss */
    .block-2 .front {
      -webkit-transform: rotateY(180deg);
      transform: rotateY(180deg); } }

/* line 1269, style.scss */
.text-black {
  color: #000 !important; }

/* line 1273, style.scss */
.check-availabilty {
  margin-top: -170px;
  position: relative; }
  /* line 1276, style.scss */
  .check-availabilty .block-32 {
    background: #fff;
    border-radius: 10px; }

/* line 1282, style.scss */
.room {
  position: relative;
  display: block; }
  /* line 1285, style.scss */
  .room .img-wrap {
    position: relative;
    overflow: hidden; }
    /* line 1288, style.scss */
    .room .img-wrap img {
      -webkit-transition: .3s all ease-in-out;
      transition: .3s all ease-in-out;
      -webkit-transform: scale(1);
              transform: scale(1);
      margin-bottom: 0 !important; }
  /* line 1296, style.scss */
  .room:hover .img-wrap img, .room:focus .img-wrap img {
    -webkit-transform: scale(1.05);
            transform: scale(1.05); }

/* line 1302, style.scss */
.letter-spacing-1 {
  letter-spacing: .1em; }

/* line 1305, style.scss */
.text-opacity-8 {
  opacity: .8; }

/* line 1308, style.scss */
.text-opacity-7 {
  opacity: .7; }

/* line 1311, style.scss */
.text-opacity-6 {
  opacity: .6; }

/* line 1314, style.scss */
.text-opacity-5 {
  opacity: .5; }

/* line 1317, style.scss */
.letter-spacing-2 {
  letter-spacing: .2em; }

/* line 1320, style.scss */
.bg-image {
  background-size: cover;
  background-attachment: fixed; }

/* line 1324, style.scss */
.bg-image-2 {
  background-size: cover;
  background-position: center center; }

/* line 1328, style.scss */
.food-menu-tabs {
  text-align: center; }
  /* line 1330, style.scss */
  .food-menu-tabs .nav-tabs {
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
    border-bottom: none; }
    /* line 1335, style.scss */
    .food-menu-tabs .nav-tabs li {
      display: inline-block; }
      /* line 1337, style.scss */
      .food-menu-tabs .nav-tabs li a {
        border: none;
        background: none;
        font-size: 1.2rem;
        font-weight: bold;
        position: relative;
        display: block; }
        /* line 1344, style.scss */
        .food-menu-tabs .nav-tabs li a:before {
          -webkit-transition: .3s all ease;
          transition: .3s all ease;
          content: "";
          position: absolute;
          bottom: 0;
          left: 16px;
          right: 20px;
          height: 2px;
          background: transparent; }
        /* line 1355, style.scss */
        .food-menu-tabs .nav-tabs li a.active {
          border: none;
          background: none;
          color: #fff; }
          /* line 1359, style.scss */
          .food-menu-tabs .nav-tabs li a.active:before {
            background: #fff; }

/* line 1369, style.scss */
.custom-caption {
  font-size: 14px;
  letter-spacing: .2em; }

/* line 1374, style.scss */
.bg-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  z-index: 1; }
  /* line 1380, style.scss */
  .bg-image.overlay {
    position: relative; }
    /* line 1382, style.scss */
    .bg-image.overlay > .container {
      position: relative;
      z-index: 3; }
    /* line 1386, style.scss */
    .bg-image.overlay:before {
      z-index: 2;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: "";
      background: rgba(0, 0, 0, 0.6); }

/* line 1396, style.scss */
.img-absolute {
  position: absolute;
  bottom: -100px;
  right: -100px; }
  /* line 1400, style.scss */
  .img-absolute img {
    max-width: 250px;
    border-radius: 50%;
    border: 10px solid #f2f4fb; }
  @media (max-width: 991.98px) {
    /* line 1396, style.scss */
    .img-absolute {
      right: 0px; }
      /* line 1407, style.scss */
      .img-absolute img {
        max-width: 160px; } }

/* line 1414, style.scss */
.custom-breadcrumbs {
  list-style: none;
  padding: 0;
  margin: 0; }
  /* line 1418, style.scss */
  .custom-breadcrumbs li {
    display: inline-block;
    color: #fff;
    margin: 0 4px;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: .1em;
    font-weight: bold; }
    /* line 1426, style.scss */
    .custom-breadcrumbs li a {
      font-weight: normal; }
      /* line 1428, style.scss */
      .custom-breadcrumbs li a:hover {
        color: #fff; }

/* line 1436, style.scss */
.timeline-item {
  padding: 3em 2em 2em;
  position: relative;
  border-left: 2px solid #dee2e6; }
  /* line 1442, style.scss */
  .timeline-item::before {
    content: attr(date-is);
    position: absolute;
    left: 2em;
    font-weight: bold;
    top: 1em;
    display: block;
    font-weight: 700;
    font-size: .785rem; }
  /* line 1453, style.scss */
  .timeline-item::after {
    width: 10px;
    height: 10px;
    display: block;
    top: 1em;
    position: absolute;
    left: -6px;
    border-radius: 10px;
    content: '';
    border: 2px solid #dee2e6;
    background: white; }
  /* line 1466, style.scss */
  .timeline-item:last-child {
    -o-border-image: linear-gradient(to bottom, #dee2e6 60%, rgba(222, 226, 230, 0)) 1 100%;
       border-image: -webkit-gradient(linear, left top, left bottom, color-stop(60%, #dee2e6), to(rgba(222, 226, 230, 0))) 1 100%;
       border-image: linear-gradient(to bottom, #dee2e6 60%, rgba(222, 226, 230, 0)) 1 100%; }

/* line 1476, style.scss */
.custom-pagination {
  text-align: center; }
  /* line 1478, style.scss */
  .custom-pagination ul {
    padding: 0;
    margin: 0; }
    /* line 1481, style.scss */
    .custom-pagination ul li {
      display: inline-block; }
      /* line 1483, style.scss */
      .custom-pagination ul li a {
        background: #fff;
        border-radius: 50%;
        border: 1px solid transparent; }
        /* line 1487, style.scss */
        .custom-pagination ul li a:hover {
          border: 1px solid #d9d9d9;
          -webkit-box-shadow: 0 4px 10px -2px rgba(0, 0, 0, 0.1);
                  box-shadow: 0 4px 10px -2px rgba(0, 0, 0, 0.1); }
      /* line 1492, style.scss */
      .custom-pagination ul li a, .custom-pagination ul li span {
        display: inline-block;
        width: 47px;
        margin: 2px;
        height: 47px;
        font-size: 1.2rem;
        line-height: 47px; }
      /* line 1501, style.scss */
      .custom-pagination ul li.active span {
        background: #ff0000;
        color: #fff;
        border-radius: 50%; }

/* line 1514, style.scss */
.pb_navbar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  padding: 50px 0; }
  /* line 1523, style.scss */
  .pb_navbar .navbar-toggler:active, .pb_navbar .navbar-toggler:focus {
    outline: none; }
  /* line 1527, style.scss */
  .pb_navbar .navbar-brand {
    font-family: "Playfair Display", times, serif;
    font-size: 30px; }
  /* line 1531, style.scss */
  .pb_navbar > .container {
    position: relative; }
  /* line 1534, style.scss */
  .pb_navbar .navbar-toggler {
    border: none;
    cursor: pointer;
    padding-right: 0; }
    /* line 1540, style.scss */
    .pb_navbar .navbar-toggler i {
      font-size: 30px; }
  /* line 1554, style.scss */
  .pb_navbar ul > li.cta-btn > a > span {
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.5); }
    @media (max-width: 991.98px) {
      /* line 1554, style.scss */
      .pb_navbar ul > li.cta-btn > a > span {
        border: none;
        background: #ff0000;
        color: #fff; } }
  /* line 1572, style.scss */
  .pb_navbar .nav-link {
    padding-left: 1rem !important;
    padding-right: 1rem !important; }
    @media (max-width: 1199.98px) {
      /* line 1572, style.scss */
      .pb_navbar .nav-link {
        padding-top: .5rem;
        padding-bottom: .5rem; } }
    @media (max-width: 991.98px) {
      /* line 1572, style.scss */
      .pb_navbar .nav-link {
        padding-left: 15px !important;
        padding-right: 15px !important; } }
    @media (max-width: 767.98px) {
      /* line 1572, style.scss */
      .pb_navbar .nav-link {
        padding-left: 15px !important;
        padding-right: 15px !important; } }
  @media (max-width: 991.98px) {
    /* line 1589, style.scss */
    .pb_navbar .navbar-nav {
      border-radius: 0px; }
      /* line 1595, style.scss */
      .pb_navbar .navbar-nav a {
        color: #000; } }
  @media (max-width: 991.98px) {
    /* line 1514, style.scss */
    .pb_navbar {
      background: #fff;
      padding: 15px 15px; }
      /* line 1604, style.scss */
      .pb_navbar .navbar-brand {
        color: #000 !important;
        font-family: "Playfair Display", times, serif;
        margin-left: 15px; }
      /* line 1609, style.scss */
      .pb_navbar .navbar-nav {
        background: #fff !important; }
      /* line 1612, style.scss */
      .pb_navbar .navbar-toggler {
        color: black !important;
        border-color: black !important;
        cursor: pointer; }
      /* line 1619, style.scss */
      .pb_navbar ul li a {
        color: #000 !important; } }
  /* line 1626, style.scss */
  .pb_navbar.scrolled {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    margin-top: -130px;
    background: #fff;
    padding: 0px 0; }
    @media (max-width: 991.98px) {
      /* line 1634, style.scss */
      .pb_navbar.scrolled .navbar-nav {
        background: none;
        border-radius: 0px;
        padding-left: 0rem !important;
        padding-right: 0rem !important; } }
    @media (max-width: 767.98px) {
      /* line 1643, style.scss */
      .pb_navbar.scrolled .navbar-nav {
        background: none;
        padding-left: 0 !important;
        padding-right: 0 !important; } }
    /* line 1651, style.scss */
    .pb_navbar.scrolled .navbar-toggler {
      border: none;
      color: rgba(0, 0, 0, 0.5);
      border-color: rgba(0, 0, 0, 0.5);
      cursor: pointer;
      padding-right: 0; }
    /* line 1658, style.scss */
    .pb_navbar.scrolled .nav-link {
      padding-top: .5rem;
      padding-bottom: .5rem; }
    /* line 1662, style.scss */
    .pb_navbar.scrolled.awake {
      margin-top: 0px;
      -webkit-transition: .3s all ease-out;
      transition: .3s all ease-out; }
    /* line 1666, style.scss */
    .pb_navbar.scrolled.sleep {
      -webkit-transition: .3s all ease-out;
      transition: .3s all ease-out; }
    /* line 1670, style.scss */
    .pb_navbar.scrolled.pb_scrolled-light {
      background: #fff !important;
      -webkit-box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.15);
      box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.15); }
      /* line 1676, style.scss */
      .pb_navbar.scrolled.pb_scrolled-light .navbar-brand {
        color: #000;
        font-family: "Playfair Display", times, serif; }
      @media (max-width: 991.98px) {
        /* line 1680, style.scss */
        .pb_navbar.scrolled.pb_scrolled-light .navbar-nav {
          background: none;
          border-radius: 0px;
          padding-left: 0rem !important;
          padding-right: 0rem !important; } }
      /* line 1690, style.scss */
      .pb_navbar.scrolled.pb_scrolled-light ul li a {
        color: #212529 !important; }
        /* line 1692, style.scss */
        .pb_navbar.scrolled.pb_scrolled-light ul li a:hover, .pb_navbar.scrolled.pb_scrolled-light ul li a:active, .pb_navbar.scrolled.pb_scrolled-light ul li a:focus {
          color: #6c757d !important; }
        /* line 1695, style.scss */
        .pb_navbar.scrolled.pb_scrolled-light ul li a.active {
          color: #ff0000 !important; }
      /* line 1701, style.scss */
      .pb_navbar.scrolled.pb_scrolled-light ul li.cta-btn > a > span {
        border: none;
        background: #ff0000;
        color: #fff; }

/* line 1717, style.scss */
.pb_offcanvas-nav_v1 {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #000;
  -webkit-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out; }
  /* line 1728, style.scss */
  .pb_offcanvas-nav_v1.active {
    opacity: 1;
    visibility: visible; }
  /* line 1732, style.scss */
  .pb_offcanvas-nav_v1 .pb_main-nav {
    padding-top: 50px;
    padding-right: 50px;
    float: right;
    text-align: right;
    font-size: 30px;
    height: 100vh;
    overflow-y: auto; }
    /* line 1740, style.scss */
    .pb_offcanvas-nav_v1 .pb_main-nav li {
      list-style: none;
      line-height: 1.5;
      margin-bottom: 10px; }
      /* line 1744, style.scss */
      .pb_offcanvas-nav_v1 .pb_main-nav li a {
        color: #fff; }
        /* line 1746, style.scss */
        .pb_offcanvas-nav_v1 .pb_main-nav li a.active {
          text-decoration: underline; }

/* line 1753, style.scss */
.pb_offcanvas-header_v1 {
  padding-top: 40px;
  z-index: 2;
  position: absolute;
  width: 100%; }
  /* line 1758, style.scss */
  .pb_offcanvas-header_v1 > .container {
    position: relative; }
  /* line 1761, style.scss */
  .pb_offcanvas-header_v1 .pb_site-name {
    position: absolute;
    left: 15px; }
  /* line 1765, style.scss */
  .pb_offcanvas-header_v1 .pb_toggle-menu {
    position: absolute;
    right: 0px;
    top: 17px; }
    @media (max-width: 767.98px) {
      /* line 1765, style.scss */
      .pb_offcanvas-header_v1 .pb_toggle-menu {
        top: 13px; } }

/*# sourceMappingURL=style.css.map */